<!DOCTYPE html>
<html>
  <head>
    <title>EcommerceTask</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body class="ds-no-transition">
    <div id="wrapper">
      <div class="overlay"></div>
      <%= render 'layouts/navbar' %>

      <%= render 'layouts/header' %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>

    <%= yield :css_file %>
    <%= yield :css_code %>

    <%= javascript_include_tag 'application' %>

    <%= yield :js_file %>
    <%= yield :js_code %>
  </body>
</html>
